<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find blind_test)/launch/urdf_spawn.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="5" />
        <arg name="urdf_file" value="$(find blind_test)/urdf/1_urdf.urdf" />
        <arg name="robot_name" value="blind" />
    </include>
   

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  </node>

  <!-- Robot State -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
